.btn-increase{
    padding:9px;
    cursor: pointer;
      background: linear-gradient(145deg, #4ca1af, #2c3e50);
    color: white;
    border: none;
    box-shadow: 0 0  3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width:200px;

 
    
}
.btn-Reset{
      padding:9px;
    cursor: pointer;
    color: white;
    border: none;
    box-shadow: 0 0  3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
background: linear-gradient(45deg, #ff1e56, #ff4b2b, #ff6a00);
    width:200px;




}