.bg-style{
     background: linear-gradient(135deg, #2c3e50, #4ca1af); /* professional gradient */
     color: white;
     
}
.btn{
     background: linear-gradient(135deg, #007efd, #04434d); /* professional gradient */
     font-family:Georgia, 'Times New Roman', Times, serif;
}