* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.count-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    #2c3e50,
    #4ca1af
  ); /* professional gradient */
  color: white;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  height: 70vh;
  padding: 22px;
  flex-wrap: wrap;
}

.btns {
  display: flex;
  width: 500px;
  gap: 4px;
}
